.body {
  top: 70px;
  bottom: 20px;
  position: absolute;
  width: 100%;
}

.bring-forward {
  z-index: 1000;
}

.center-display {
  width: 590px;
}

.bg-primary {
  background-color: #1DA1F2;
}

.bg-primary-light {
  background-color: #E8F5FD;
  border: 1px solid #e6ecf0;
}

.app-container {
  min-width: 890px;
  max-width: 1100px;
}

/*User Update Profile*/
.center-update {
  max-width: 600px;
}

/*User Profile*/
.profile-header {
  min-width: 900px;
}
.profile-header-top {
  height: 175px;
}

.avatar-xs {
  height: 37px;
  width: 37px;
}

.avatar-sm {
  height: 50px;
  width: 50px;
}

.avatar-medium {
  height: 70px;
  width: 70px;
}

.avatar-large {
  position: relative;
  height: 195px;
  width: 195px;
  top: 2px;
  left: 2px;
}

.home-info-header-pic {
  height: 70px;
  width: 70px;
}

/*Tag Page*/
.tag-header {
  height: 100px;
}

/*UserInfoHome*/
.profile-header-pic {
  bottom: -87px;
  left: 10px;
  position: absolute;
}

.profile-pic {
  height: 200px;
  width: 200px;
}

.user-info-width {
  width: 290px;
}

.user-info-home {
  width: 290px;
  height: 209px;
}

.user-info-header {
  height: 50%;
  padding-top: 55px;
  padding-left: 15px;
}

/*Home*/
.center-home {
  max-width: 350px;
}

/*Sign Up*/
.center-signup {
  max-width: 600px;
}

/*Post List */
.post-list {
  min-width: 590px;
}

/*Post Item*/
.post-item-dd {
  z-index: 1000;
}

/*Post Detail*/
.post-detail-button:hover {
  background-color: #E8F5FD;
  cursor: pointer;
}

/*Loading*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #D3D3D3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #D3D3D3 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
