.body {
  top: 70px;
  bottom: 20px;
  position: absolute;
  width: 100%;
}

.center-display {
  width: 590px;
}

.bg-primary {
  background-color: #1DA1F2;
}

.bg-primary-light {
  background-color: #E8F5FD;
  border: 1px solid #e6ecf0;
}

/*UserInfoHome*/
.user-info-home {
  padding: 120px 60px 50px 60px;
}

/*Home*/
.center-home {
  max-width: 350px;
}

/*Sign Up*/
.center-signup {
  max-width: 600px;
}

/*Post List */
.post-list {
  min-width: 590px;
}
